@import '../../assets/main.css';

div {
  text-align: center;
}

h1 {
  color: var(--color-text);
}

p {
  font-size: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.table-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.table-content {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid var(--color-border);
  padding: 8px;
  text-align: left;
  word-break: break-all;
}

th {
  background-color: var(--color-background-soft);
  font-weight: bold;
}

.error-message {
  color: var(--color-text);
  margin-top: 10px;
  text-align: center;
}

.no-wrap {
  flex-shrink: 0;
}
