@import '../../assets/form.css';
@import '../../assets/main.css';

.title {
  text-align: center;
  color: var(--color-text);
  margin-bottom: 20px;
}

.or-divider {
  text-align: center;
  margin: 20px 0;
}

.or-divider span {
  width: 100%;
  display: inline-block;
  position: relative;
  padding: 0 10px;
  font-size: 14px;
  color: var(--color-text);
}

.or-divider span::before,
.or-divider span::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 45%;
  height: 1px;
  background-color: var(--color-border);
}

.or-divider span::before {
  left: 10px;
}

.or-divider span::after {
  right: 10px;
}

.btn-google {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 25px; /* Super rounded */
  background-color: #4285f4; /* Google blue */
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-google:hover {
  background-color: #285eb6; /* Google blue darker */
}

.error-message {
  color: var(--color-text);
  margin: 0;
  padding: 0;
  text-align: center;
}
