@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: var(--color-background-soft);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
  display: grid;
  width: 100%;
  max-width: 1200px;
  min-height: 40vh;
  padding: 1rem;
  background: linear-gradient(180deg, var(--color-gradient-end), transparent);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main-content {
  height: 100%;
  animation: slideIn 1s ease-in-out;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.disabled:hover {
  cursor: not-allowed;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.493);
    border-radius: 10px;
  }
}

@media (min-width: 1024px) {
  #app {
    min-height: 100vh;
  }
}

@media (max-width: 768px) {
  #app {
    padding: 1rem;
  }
  #content {
    padding: 1rem;
  }
}

button {
  width: 80%;
  padding: 12px;
  background-color: #00bd7e;
  color: var(--color-text);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #007f52;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 48%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background-color: #00bd7e;
  color: var(--color-text);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #007f52;
}

.btn:disabled {
  background-color: var(--color-gradient-end);
  cursor: not-allowed;
}

.hidden {
  display: none;
  height: 0;
  width: 0;
}

.delete {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 15px;
  background-color: #ff4c4c;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete:hover {
  background-color: #d40000;
}

.delete::before {
  content: '✕';
  font-size: 18px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.pagination span {
  font-size: 18px;
  margin: 0 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
